#reloj{
	font-family:sans-serif;
    font-size: 11px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

footer a:hover{
	color:#109FE1;
}

.badge-info{
	background-color:#109FE1;
}

a {
	color:#109FE1;
}

#logo{
	float:left;
	margin-top: 8px;
}

div.widget-foot p{
	font-size: 11px;
}

.info li{
	margin-top:10px;
}

.info li:nth-child(even){
	margin-left: 5px;
}

#help{
	padding: 0px 0px 0px 4px;
}

#help:hover{
	color:#109FE1;
}

.input-append label{
	display: inline;
}

hr{
	/*color: #f00;*/
	background-color: #C5E9FA;
	height: 2px;
}

table{
	background-color:white;
}

textarea{
	width: 60%;
}

.secundario{
	margin-left: 10px;
}

.form-horizontal .controls {
  padding-top: 2px;
}

#control-label{
	padding-top: 9px;
}

#sd{
	display: none;
}

.tipobien{
	background: none;
}

.tipobien td 

.checkb{
	margin-top: 0px !important;
}

.checkl{
	display: inline;
	width: 900px;
}

.checkt{
	/*font-size: 5px !important;*/
	/*border-width: 0px 0px 1px 0px;*/
	border-color: black !important;
	margin-left: 10px !important;
	background: none !important;
	height: 10px !important;
	border-radius: 0px !important;
	width: 60px !important;
}

/* Responsive */

@media (min-width: 768px) and (max-width: 790px){
	#logo{
		float:left !important;
		margin-top: 43px !important;
	}
}

@media (min-width: 791px) and (max-width: 1253px){
	#logo{
		float:left !important;
		margin-top: 25.5px !important;
	}
}

@media (max-width: 979px){
	.nav-collapse{
		text-align: center;
	}

	.navbar .nav>li>a{
		float: none;
	}
}